outline-mode * {
    outline: 1px solid #000;
}
* {
    box-sizing: border-box;
}
/*____________________TYPO__________________*/
body{
    font-family: "Open Sans",sans-serif;
    font-size:12px;
}
h1{
    font-size: 25px;
}
h2, .titleLabel{
    margin-top: 0.67em;
    font-size: 13px;
    font-weight: bold;
    padding: none;
}

legend{
    font-size: 15px;
}
/*___________________________________________*/

.content {
    width:50%;
    margin: auto;
    overflow: hidden;
}
.coll{
    float: left;
    width: 48%;
    min-height: 50px;
    border: 1px solid red;
}
.colr{
    float: right;
    width: 48%;
    min-height: 50px;
    border: 1px solid blue;
}
.col2{
    width: 100%;
    margin-top: 6px;
    clear: both;
}

span.a {
    display: inline-block;
}

input{
    min-height:22px;
}
input[type=text] {
    width: 100%;
    margin-bottom: 5px;
}
.fname {
    width: 15%;
    margin-bottom: 5px;
}
.lname {
    width: 20%;
    margin-bottom: 5px;
}


select{
    width: 100%;
    margin-bottom: 8px;
    min-height:22px;
}

textarea{
    width: 100%;
    height: 100px;
}

input[type=number].nb1
{
    width: 30px;
}
input[type=number].nb2
{
    width: 35px;
}

input[type=number].po
{
    width: 100%;
}