* {
    box-sizing: border-box;
}

fieldset{
    border: 0;
}

/*____________________TYPO__________________*/
body{
    font-family: 'Open Sans', sans-serif;
    font-size:12px;
}
h1{
    font-size: 25px;
    font-weight: bold;
    border-bottom: 1px dotted lightgray;
    padding-bottom: 20px;
}
h2, .titleLabel{
    margin: 0;
    font-size: 13px;
    font-weight: Bold;
    padding: 1px;
}

legend{
    font-size: 15px;
    font-weight: bold;
    margin-top: 5px;
}
/*___________________________________________*/

.content {
    width:50%;
    margin: auto;
    overflow: hidden;
    border-left: 1px solid lightgray;
    padding-left: 10px;
}

fieldset{
    margin-bottom:10px;
    padding:10px;
    border-bottom: 1px dotted lightgray;
}
.noBorder{
    border:none;
}

header{
    padding-left:10px;
    padding-bottom:2px;
    padding-top:2px;
    margin:0;
}
.coll{
    float: left;
    width: 48%;
    min-height: 50px;
}
.colr{
    float: right;
    width: 48%;
    min-height: 50px;
}
.col2{
    width: 100%;
    margin-top: 6px;
    clear: both;
}

span.a {
    display: inline-block;
}

input{
    min-height:22px;
    margin-bottom: 5px;
    margin-top: 5px;
}
input[type=text] {
    width: 100%;
}
.fname {
    width: 15%;
    margin-bottom: 5px;
}
.lname {
    width: 20%;
    margin-bottom: 5px;
}
.fname2 {
    width: 30%;
    margin-bottom: 5px;
}
.lname2 {
    width: 40%;
    margin-bottom: 5px;
}


select{
    width: 100%;
    margin-bottom: 5px;
    margin-top: 5px;
    min-height:22px;
}

textarea{
    width: 100%;
    height: 100px;
    margin-bottom: 5px;
    margin-top: 5px;
}

input[type=number]
{
    margin-bottom: 5px;
    margin-top: 5px;
}

input[type=number].nb1
{
    width: 30px;
}
input[type=number].nb2
{
    width: 35px;
}

input[type=number].po
{
    width: 100%;
}