body.outline-mode * {
    outline: 1px solid #000;
}


.container {
    padding-top: 5px;
    padding-left: 40px;
    padding-right: 40px;
    background-color: #f7f3e9;
    height: 52px;
    font-family: 'Dosis', sans-serif;
    color: gray;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: small;
}


a {
    text-decoration: none;
    color: gray;
    padding: 5px;
}

.socialNetwork {
    padding-left: 1rem;
}

.fa {
    padding: 0.5rem;
    text-align: center;
    text-decoration: none;
    background-color: #f8f3e9;
    color: gray;
}

